@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

video {
    background: transparent;
  }
html, body {
    font-family: monospace;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .floating-wrapper {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
  }
  
  /* ===== CARD ===== */
  .floating-card {
    position: absolute;
    width: 170px;
    padding: 20px 16px;
    border-radius: 20px;
  
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
  
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  
    text-align: center;
    color: white;
  
    animation: floatY 8s ease-in-out infinite;
    will-change: transform;
  }
  
  /* ===== ICON ===== */
  .card-icon {
    width: 68px;
    height: 68px;
    object-fit: contain;
    margin: 0 auto 12px;
  }
  
  /* ===== TEXT ===== */
  .floating-card h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
    color:red;
  }
  .dream-h3 {
    color:blue!important;
  }
  
  
  /* ===== FLOAT ANIMATION ===== */
  @keyframes floatY {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-18px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  /* ===== POSITIONS ===== */
 
  
  .top-right {
    top: 10%;
    right: 18%;
  }
  
  .left {
    top: 47%;
    left: 42%;
  }
  
  .bottom-right {
    bottom: 35%;
    right: 42%;
  }
  